# TTN MQTT Configuration
TTN_MQTT_HOST=eu1.cloud.thethings.network
TTN_MQTT_PORT=8883
TTN_MQTT_USERNAME=your_username@ttn
TTN_MQTT_PASSWORD=your_ttn_password_here
TTN_MQTT_TOPIC=v3/your_username@ttn/devices/+/up

# Server Ports
HTTP_PORT=3333
WS_PORT=3334
